.body2{
    color: black;
    font-weight: 550;
}

.body3{
    color: red;  
    font-weight: 550;
}
.img-size{
    width: 450px;
	height: 450px;
	object-fit:cover;
}

.cardTest{
    background-color: blue;
}

.nose{
        height: 250px; /* altura fija para el contenido de la tarjeta */
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* alinear el contenido verticalmente */
      
}

.little-cart{
   position: relative;
}
.cartprod{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 55%;
    margin: -30px 0 0 30px;
}
.cartprod:hover{
    color: red;
}

  
  .button-Cart {
    margin: 0 auto; /* centrar horizontalmente el botón */
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center; /* alinear el contenido verticalmente */
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-Cart:hover {
    background-color: red;
  }
  
  .button-text {
    color: white;
    font-size: 20px;
    margin-right: 10px;
  }
  

/* 
  .button-Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    align-self: center;
  }
  
  .button-Cart:hover{
    background-color: red;
  }
  
  .button-Cart svg {
    fill: white;
    margin-left: 8px;
    width: 20px;
    height: 20px;
  }
  .button-Cart::after {
    content: "+";
    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
 
  */

  
  
  
  
  
    
  
  